name: Frontend CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Lint code (ESLint)
        run: npm run lint

      - name: Check code format (Prettier)
        run: npx prettier --check "src/**/*.{js,vue,css,ts,json}"

      - name: Build project
        run: npm run build
